/* Minimum slider width */
.panoramic-slider-container.default .slider .slide img {
  min-width: 300px;
}

/* Mobile Menu and other mobile stylings */
@media only screen and (max-width: 960px) {
  .main-navigation.translucent {
    position: relative;
  }

  .main-navigation.translucent {
    background-color: #006489 !important;
  }

  #main-menu.panoramic-mobile-menu-standard-color-scheme {
    background-color: #006489;
  }

  .slider-placeholder {
    display: none;
  }

  .header-image .overlay,
  .panoramic-slider-container.default .slider .slide .overlay {
    top: 25%;
  }

  .panoramic-slider-container.default .prev.top-padded,
  .panoramic-slider-container.default .next.top-padded {
    margin-top: -26px;
  }
  .header-image .overlay.top-padded,
  .panoramic-slider-container.default .slider .slide .overlay.top-padded {
    padding-top: 0;
  }

  /* Menu toggle button */
  .header-menu-button {
    display: block;
    padding: 16px 18px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
  }
  .header-menu-button .otb-fa.otb-fa-bars {
    font-size: 28px;
    color: #ffffff;
  }

  /* Menu close button */
  .main-menu-close {
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 26px;
    color: #ffffff;
    text-align: center;
    padding: 0 6px 0 10px;
    height: 36px;
    width: 36px;
    line-height: 33px;
    cursor: pointer;

    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }
  .main-menu-close:hover .otb-fa {
    font-weight: 700 !important;
  }
  .main-menu-close .otb-fa-angle-left {
    position: relative;
    left: -4px;
  }

  .main-navigation ul {
    display: block;
  }

  .main-navigation #main-menu {
    color: #ffffff;
    box-shadow: 1px 0 1px rgba(255, 255, 255, 0.04) inset;
    position: fixed;
    top: 0;
    right: -280px;
    width: 280px;
    max-width: 100%;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 70px 0 30px 0;
    z-index: 100000;
    height: 100%;
    overflow: auto;
    -webkit-transition: right 0.4s ease 0s;
    -moz-transition: right 0.4s ease 0s;
    -ms-transition: right 0.4s ease 0s;
    -o-transition: right 0.4s ease 0s;
    transition: right 0.4s ease 0s;
  }
  #main-menu .menu {
    border-top-width: 1px;
    border-top-style: solid;
  }
  #main-menu.panoramic-mobile-menu-standard-color-scheme .menu {
    border-top-color: #ffffff;
  }
  .main-navigation li {
    display: block;
    float: none;
    position: relative;
  }
  .main-navigation li a {
    white-space: normal !important;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    box-shadow: none;
    display: block;
    color: #ffffff;
    float: none;
    padding: 10px 22px;
    font-size: 14px;
    text-align: left;
  }
  #main-menu.panoramic-mobile-menu-standard-color-scheme li a {
    border-bottom-color: #ffffff;
  }
  #main-menu.panoramic-mobile-menu-standard-color-scheme li a:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .main-navigation ul ul a {
    text-transform: none;
  }
  .main-navigation ul ul li:last-child a,
  .main-navigation ul ul li a {
    padding: 6px 30px;
    width: auto;
  }
  .main-navigation ul ul ul li a {
    padding: 6px 39px !important;
  }
  .main-navigation ul ul ul ul li a {
    padding: 6px 47px !important;
  }
  .main-navigation ul ul ul ul ul li a {
    padding: 6px 55px !important;
  }

  .main-navigation ul ul {
    position: relative !important;
    box-shadow: none;
    top: 0 !important;
    left: 0 !important;
    float: none !important;
    background-color: transparent;
    padding: 0;
    margin: 0;
    display: none;
    border-top: none;
  }
  .main-navigation ul ul ul {
    left: 0 !important;
  }
  .menu-dropdown-btn {
    display: block;
  }
  .open-page-item > ul.children,
  .open-page-item > ul.sub-menu {
    display: block !important;
  }
  .open-page-item .otb-fa-angle-down {
    color: #ffffff;
    font-weight: 700 !important;
  }

  /* 1st level selected item */
  #main-menu.panoramic-mobile-menu-standard-color-scheme a:hover,
  #main-menu.panoramic-mobile-menu-standard-color-scheme
    li.current-menu-item
    > a,
  #main-menu.panoramic-mobile-menu-standard-color-scheme
    li.current_page_item
    > a,
  #main-menu.panoramic-mobile-menu-standard-color-scheme
    li.current-menu-parent
    > a,
  #main-menu.panoramic-mobile-menu-standard-color-scheme
    li.current_page_parent
    > a,
  #main-menu.panoramic-mobile-menu-standard-color-scheme
    li.current-menu-ancestor
    > a,
  #main-menu.panoramic-mobile-menu-standard-color-scheme
    li.current_page_ancestor
    > a {
    background-color: rgba(0, 0, 0, 0.2) !important;
  }

  /* 2nd level selected item */
  #main-menu.panoramic-mobile-menu-standard-color-scheme
    ul
    ul
    li.current-menu-item
    > a,
  #main-menu.panoramic-mobile-menu-standard-color-scheme
    ul
    ul
    li.current_page_item
    > a,
  #main-menu.panoramic-mobile-menu-standard-color-scheme
    ul
    ul
    li.current-menu-parent
    > a,
  #main-menu.panoramic-mobile-menu-standard-color-scheme
    ul
    ul
    li.current_page_parent
    > a,
  #main-menu.panoramic-mobile-menu-standard-color-scheme
    ul
    ul
    li.current-menu-ancestor
    > a,
  #main-menu.panoramic-mobile-menu-standard-color-scheme
    ul
    ul
    li.current_page_ancestor
    > a {
    background-color: rgba(0, 0, 0, 0.2);
  }

  /* 3rd level selected item */
  #main-menu.panoramic-mobile-menu-standard-color-scheme
    ul
    ul
    ul
    li.current-menu-item
    > a,
  #main-menu.panoramic-mobile-menu-standard-color-scheme
    ul
    ul
    ul
    li.current_page_item
    > a,
  #main-menu.panoramic-mobile-menu-standard-color-scheme
    ul
    ul
    ul
    li.current-menu-parent
    > a,
  #main-menu.panoramic-mobile-menu-standard-color-scheme
    ul
    ul
    ul
    li.current_page_parent
    > a,
  #main-menu.panoramic-mobile-menu-standard-color-scheme
    ul
    ul
    ul
    li.current-menu-ancestor
    > a,
  #main-menu.panoramic-mobile-menu-standard-color-scheme
    ul
    ul
    ul
    li.current_page_ancestor
    > a {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
a,
.header-image .overlay .opacity h2,
.panoramic-slider-container.default .slider .slide .overlay .opacity h2,
.search-btn,
.site-title a,
.widget-area .widget a,
.rpwe-title a,
.rpwe-block .rpwe-comment,
.search-button .otb-fa-search,
.info-text em,
.woocommerce .woocommerce-breadcrumb a,
.woocommerce-page .woocommerce-breadcrumb a,
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a,
.color-text {
  color: #a80000;
}
div.wpforms-container form.wpforms-form input[type="text"]:focus,
div.wpforms-container form.wpforms-form input[type="email"]:focus,
div.wpforms-container form.wpforms-form input[type="tel"]:focus,
div.wpforms-container form.wpforms-form input[type="url"]:focus,
div.wpforms-container form.wpforms-form input[type="password"]:focus,
div.wpforms-container form.wpforms-form input[type="search"]:focus,
div.wpforms-container form.wpforms-form select:focus,
div.wpforms-container form.wpforms-form textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
select:focus,
textarea:focus {
  border-color: #a80000;
}
.main-navigation,
.main-navigation ul ul,
#comments .form-submit #submit,
.search-block .search-submit,
.no-results-btn,
button,
a.button,
input[type="button"],
input[type="reset"],
input[type="submit"],
p.woocommerce-store-notice.demo_store,
.woocommerce ul.products li.product a.add_to_cart_button,
.woocommerce-page ul.products li.product a.add_to_cart_button,
.woocommerce ul.products li.product a.button.product_type_simple,
.woocommerce-page ul.products li.product a.button.product_type_simple,
.woocommerce button.button,
.woocommerce button.button.alt,
.woocommerce a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce input.button.alt,
.woocommerce-page #content input.button.alt,
.woocommerce .cart-collaterals .shipping_calculator .button,
.woocommerce-page .cart-collaterals .shipping_calculator .button,
.woocommerce a.button,
.woocommerce-page a.button,
.woocommerce input.button,
.woocommerce-page #content input.button,
.woocommerce-page input.button,
.woocommerce #review_form #respond .form-submit input,
.woocommerce-page #review_form #respond .form-submit input,
.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt:disabled[disabled],
.woocommerce #respond input#submit.alt:disabled[disabled]:hover,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce button.button:disabled:hover,
.woocommerce button.button:disabled[disabled]:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce button.button,
.woocommerce button.button.alt,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce input.button.alt,
.widget_search .search-submit,
.widget_product_search .search-submit,
.wpcf7-submit,
div.wpforms-container form.wpforms-form input[type="submit"],
div.wpforms-container form.wpforms-form button[type="submit"],
div.wpforms-container form.wpforms-form .wpforms-page-button,
.site-footer-bottom-bar,
.testimonials .sow-slider-base .sow-slide-nav {
  background-color: #a80000;
}
.main-navigation.translucent {
  background-color: rgba(168, 0, 0, 0.7);
}
.header-cart-checkout.cart-has-items .otb-fa-shopping-cart {
  background-color: #a80000 !important;
}
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message {
  border-top-color: #a80000;
}
::-moz-selection {
  background-color: #a80000;
}
::selection {
  background-color: #a80000;
}
@media (max-width: 960px) {
  .main-navigation.translucent,
  #main-menu.panoramic-mobile-menu-standard-color-scheme {
    background-color: #a80000 !important;
  }
}
